@tailwind base;
@tailwind components;
@tailwind utilities;

.bubble-button {
    cursor: pointer;
    position: relative;
}

.bubble-button .button-text {
    position: relative;
    z-index: 1;
}

.bubble-button .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.bubble-button .bubble {
    background-color: #00FF80;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    z-index: -1;
    animation: move-bubble 1.5s infinite;
}

@keyframes move-bubble {
    0%, 100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 0;
    }
}
